# .env.example
# Create a copy of this file and rename it to `.env`
# DO NOT commit your actual `.env` file to git!

DATA_SOURCE=finnhub
FINNHUB_API_KEY=your_secured_finnhub_key_here
TELEGRAM_BOT_TOKEN=your_secured_telegram_token_here
TELEGRAM_CHAT_IDS=744709775
